html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #00020e;
}
.skills {
  opacity: 0;
  visibility: hidden;
  padding: 72px 0;
  transition: opacity 1s, visibility 1s, transform 1s;
  background: linear-gradient(-45deg, #f9c2eb, #a8c2ee, #c2f9d0, #ffdea5) fixed;
  background-size: 800% 800%;
  animation: GradietionAnimation 6s ease infinite;
}

.skills-title{
  color: #00020e;
  text-decoration: none;
  font-size: 72px;
}
@keyframes GradietionAnimation { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.is-fadein {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.sitetitle {
  font-size: 48px;
}
.container {
  margin: auto;
  width: 100%;
  display: flex;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.box {
  padding-top: 24px;
  width: 100%;
  height: 200px;
  position: relative;
}

.line {
  position: relative;
  z-index: 100;
}
@for $i from 1 through 300 {
  .left-#{$i} {
    left: 5px * $i;
  }
}
@for $i from 1 through 200 {
  .right-#{$i} {
    right: 5px * $i;
  }
}

@for $i from 1 through 200 {
  .margin-#{$i} {
    margin: 5px * $i;
  }
}

@for $i from 1 through 200 {
  .height-#{$i} {
    height: 1px * $i;
  }
}

@for $i from 1 through 200 {
  .width-#{$i} {
    width: 1px * $i;
  }
}
.moveup-motion {
  transform: translateY(50%);
  opacity: 0;

  animation: moveup 1.5s alternate ease-out infinite;
}

@keyframes moveup {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.projects{
  color: white;
  width: 100%;
  &-title{
    font-size: 48px;
    text-decoration: none;
  }
  a {
    color: white;
  }
}

.logo{
  width: 80px;
  height: 80px;
}
.moveIcons {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
  color: #fff;
}
.moveIcons2 {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 22px;
  color: #00020e;
}

.gradation1 {
  background: linear-gradient(to right, #ffff00, #00FF00);
}

.gradation2 {
  background: linear-gradient(to right, #00FF00, #ffff00);
}

.gradation3 {
  background: linear-gradient(to right, #0000ff, #ff00ff);
}

.gradation4 {
  background: linear-gradient(to right, #ff00ff, #0000ff);
}

.mt-box{
  margin-top: 72px;
}
.video-container {
  position: relative;
  overflow-x: hidden;
}

.navigationbar {
  padding: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  color: white;
}
* {
  text-align: center;
}

