html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #00020e;
  overflow-x: hidden;
  a,
  p {
    word-wrap: break-word;
  }
}
h2 {
  padding: 24px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-title {
  color: white;
  font-size: 72px;
}

.bgcnc {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ibgcnc {
  position: absolute;
  left: -390%;
  top: -390%;
  width: 1000%;
  height: 1000%;
  background-image: repeating-conic-gradient(
    #ffff00,
    #00020e,
    #00ff00,
    #00020e,
    #0000ff,
    #00020e,
    #ffff00 120deg
  );
  animation: bgcnca 60s linear 0s infinite;
}
.i2bgcnc {
  position: relative;
  padding: 0.6em;
  color: white;
  text-shadow: 1px 1px 0px black;
}

.skills-title {
  color: #00020e;
  text-decoration: none;
  font-size: 72px;
}
@keyframes bgcnca {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.is-fadein {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.sitetitle {
  font-size: 48px;
}
.container {
  margin: auto;
  width: 100%;
  display: flex;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.box {
  padding-top: 24px;
  width: 100%;
  height: 200px;
  position: relative;
}

.line {
  position: relative;
  z-index: 100;
}
@for $i from 1 through 300 {
  .left-#{$i} {
    left: 5px * $i;
  }
}
@for $i from 1 through 200 {
  .right-#{$i} {
    right: 5px * $i;
  }
}

@for $i from 1 through 200 {
  .margin-#{$i} {
    margin: 5px * $i;
  }
}

@for $i from 1 through 200 {
  .height-#{$i} {
    height: 1px * $i;
  }
}

@for $i from 1 through 200 {
  .width-#{$i} {
    width: 1px * $i;
  }
}
.moveup-motion {
  transform: translateY(50%);
  opacity: 0;

  animation: moveup 1.5s alternate ease-out infinite;
}

@keyframes moveup {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.projects {
  color: white;
  width: 100%;
  h3{
    margin: 48px;
  }
  &-title {
    font-size: 3rem;
    text-decoration: none;
    position: relative;
    padding: 1.5rem 0.5rem;
    color: #fff;
    margin: 24px 0px;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
      content: '';
      border-radius: 3px;
      background-image: linear-gradient(70deg, #ffff00, #00ff00, #0000ff, #ff00ff);
    }
  }
  a {
    color: white;
  }
}

.logo {
  width: 80px;
  height: 80px;
}
.moveIcons {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
  color: #fff;
}
.moveIcons2 {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 22px;
  color: #00020e;
}

.gradation1 {
  background: linear-gradient(to right, #ffff00, #00ff00);
}

.gradation2 {
  background: linear-gradient(to right, #00ff00, #ffff00);
}

.gradation3 {
  background: linear-gradient(to right, #0000ff, #ff00ff);
}

.gradation4 {
  background: linear-gradient(to right, #ff00ff, #0000ff);
}

.mt-box {
  margin-top: 72px;
}
.video-container {
  position: relative;
  overflow-x: hidden;
}

.navigationbar {
  padding: 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  color: white;
}
* {
  text-align: center;
}
